
.about-page {
    text-align: center;
    justify-items: center;
    margin-block-end: 5em;
    text-wrap: pretty;
  
    h1:first-child {
      font-size: 2em;
      margin: 0.5em 0;
    }
  
    h1 {
      font-size: 1.5em;
      color: $clr3;
    }
  
    h1,
    h2,
    h3 {
      margin: 2.5em 0 0.5em;
    }
  
    p {
      max-width: 55%;
    }
  
    ul {
      max-width: 50%;
      text-align: start;
    }
  
    button {
      margin-block-start: 2.5em;
    }
  }
  