.about-page{
    text-align: center;
    justify-items: center;
    margin-block-end: 5em;
    text-wrap: pretty;
}

.about-page h1:first-child{
    font-size: 2em;
    margin: 0.5em 0 0.5em;
}

.about-page h1{
    font-size: 1.5em;
    color: var(--clr3);
}

.about-page h1,
.about-page h2,
.about-page h3{
    margin: 2.5em 0 0.5em;
}

.about-page p {
    max-width: 55%;
}

.about-page ul {
    max-width: 50%;
    text-align: start;
}
.about-page button {
    margin-block-start: 2.5em;
}