.toy-index {
  display: grid;
  margin-block-end:5em
}

.toy-index .pagination {
  text-align: center;
}

.toy-index .loader-container {
  align-self: center;
}

.toy-details span {
  font-weight: 400;
}