.toy-index {
  display: grid;
}

.toy-index .pagination {
  text-align: center;
  margin-block-end: 5em;
}

.toy-index .loader-container {
  align-self: center;
}

.toy-details span {
  font-weight: 400;
}